<div>
<div>
  <h1>Our Edition</h1>

</div>
<div id="editionpics">
<img src="front cover acarete.png" width="250" height="350" alt="Front cover of the English version of Biscay's journal" /> 
<img src="front cover acarete sp.png" width="250" height="350" alt="Front cover of the Spanish version of Biscay's journal"/> 

</div>
  
<div lang="en">
<p>Here we have two editions of Acarete du Biscay's Voyage to Peru. One, a version published and 
    translated in 1698, is in English. The Spanish version was published in 1963. The original version,
    not transcribed on this website, is in French. Other than the journal Biscay left behind, very 
    little is known about him or his life.
  </p>
</div>
<div lang="es">
<h1>Nuestra Edición</h1>
<p> Tenemos aquí dos versiones del viaje a Perú de Acarete du Biscay. Una de ellas, fue escrita y publicada en 1698 en inglés. La otra versión, en español, es de 1963. La versión original del texto fue escrita en francés y no se encuentra en la página web. Aparte de su texto sobre su expedición a perú, muy poco sabemos de su vida.</p>
<p><strong><a href="/">Go back home/Volver al inicio</a></strong></p>
</div>
</div>