<div>
<div lang="en">
<h1> Editorial Principles </h1>
 <p>The English version of Acarete du Biscay's <em>Voyage to Peru </em> was a unique one, because it was 
    translated in 1698. This was only fifty years after the year Biscay was evidenced to have first
    recorded his voyages. Accordingly, it was written in a style similar to Old English, as it was
    published in London. Though some of the words, indeed, were Old English, and therefore understandably
    written in a manner unfamiliar to modern readers, the translation still suffered from several mistakes.
    To be on the safe side, we chose to indicate these mistakes in the code as "choices", showing up on
    the website as parenthesis (). That way, the original spelling was kept, but there was some notation
    that a word might be misspelled. </p>
    <p>Also, the English version had an element which we tried our best to adhere to: catch words. Catch
    words are the last word of a page, and usually float on the right side of the page, on a line of their own.
    To stay true to the translation, I indicated these catch words with an indentation function. To keep the
    catch words organized, we added physical page breaks. This made transitions from one page to another much 
    simpler for the brain to grasp, and also eased the jolt of the catch words sudden format change. 
    </p>
    <p>With regard to the Spanish version of the Acarete du Biscay edition, it reads as a more modern, 
        long-winded, and easily understood edition for the modern-day reader, since it was written in 
        1963. This means that no there are misprints, claims, or archaisms. However, footnotes have been 
        added specifying certain historical figures, along with their political rank or position, and geographic 
        locations, with their importance to the Crown. Also, these footnotes shows the perspective of 
        other people in these places, or the relationship they had with the protagonists Biscay mentioned. For 
        the modern reader, footnotes are essential to contextualize the work and better interpret it. </p>
    
        <p>For these footnotes, we decided to put the corresponding number of the note in parentheses (), 
        and when you click the page automatically sends you to the end of the text where the 
        corresponding information is found. In this way, the reader can continue reading the text if 
        they wish, since they will not be distracted by the note with extra information. However, whoever
        decides to stop reading the text to look at the note, will be able to do so in a simple and practical way.</p>
        
      <p> Finally, to respect the organization of the original edition, we opted to add dividing lines to 
        differentiate each page. Seeking, as in the additions or corrections above, to provide an easy-to-read
         edition for users.</p>
</div>

<div lang="es">
<h1> Principios Editoriales</h1>
<p> La versión en inglés de <em> La relación de un viaje al río de La Plata y de allí por tierra al perú 
     </em> de Acarete du Biscay es particular ya que fue traducida en 1698. Solo 50 antes después de que 
     fue noticia la publicación de su texto, por lo tanto, fue escrita es un estilo similar al "viejo inglés"
      porque fue publicado en Londres. Algunas palabras definitivamente son del "viejo inglés", por lo que 
      su lectura no es fácil para los lectores modernos, y la traducción sufre varios errores. Para estar 
      seguros, decidimos marcar estos errores con el código "choices"  que se mostrará en la página entre 
      paréntesis (). Así, mantenemos la escritura original, pero hacemos notar que puede haber erratas.</p>

<p> Además, la versión anglosajona contiene un elemento que tratamos de mantener lo mejor posible: los 
    reclamos. Estos son la última palabra de una página y, usualmente, flotan en la parte derecha de la 
    página en una línea propia. Para mantener lo más fiel posible la traducción, marqué estos reclamos con
     la función indicatoria, y para conversar los reclamos ordenados agregamos líneas divisorias. Esto 
     permitió que el pasar de página sea mucho más simple de visualizar y alivia el cambio de formato que
      producen dichos reclamos.</p>
<p>
    En lo que respecta a la versión en español de la Relación de Acarete du Biscay, nos encontramos con una
     edición más moderna, prolija, y de fácil entendimiento para el lector de nuestra época, ya que fue 
     escrita en 1963. Esto quiere decir que no hay erratas, reclamos o arcaísmos. Sin embargo, se le han
      agregado notas al pie en donde se especifican ciertos personajes, junto con su rango o posición 
      política, y lugares geográficos, con su importancia para la corona. También en estas notas al pie 
      vemos la perspectiva de otras personas sobre estos lugares o la relación que tenían con estos 
      protagonistas. Para el lector moderno, las notas al pie son imprescindibles para contextualizar 
      la obra y lograr una mejor interpretación de la misma.</p>
    
      <p>Para estas notas al pie, decidimos poner entre paréntesis () el número correspondiente de la nota, y al 
hacer click automáticamente la página te envía al final del texto en donde se encuentra la información 
correspondiente. De esta forma, el lector puede continuar su lectura del texto si desea, ya que no será 
obstruído por la nota con información extra. No obstante, aquel que decida interrumpir el texto para ir 
a la nota, lo va a poder hacer de una forma sencilla y práctica.</p>
   
<p>Por último, para respetar la organización de la edición original, optamos por agregar líneas divisorias
     para diferenciar cada página. Buscando, como en los agregados o en las correcciones anteriores, proveer
      de una edición de fácil lectura para los usuarios. </p>
    <p><strong><a href="/">Go back home/Volver al inicio</a></strong></p>
</div>
</div>
