<div>
<div lang="en">

  <h1>Digital Humanities Project</h1> 
  <h2 class="subtitle">The Writings of Acarete du Biscay</h2> 
 
  <img src="acarete du biscay map.png" width="600" alt="Photo of a Map of the River de la Plata" class="center"/>
 
 
 
   <h3 class="subtitle2">Welcome all! </h3>
   <p> This minimal computing digital humanities project shows the fruits of a cross 
     between technology and the humanities. In this partial edition, we hope to create an inclusive space 
     for those who wish to read a transcription of a post-colonial account of a voyage through Peru. In this 
     text and project in general, we tried to code a website that was simple 
      to use, and transcribe a journal with accuracy, while still noting the problematic elements it contains. 
   </p>
  <p>In this project collaberation, students from the University of Maryland in College Park, Maryland and
    the University of Salvador in Buenos Aires, Argentina worked to create a functioning website to digitize
    an edition of Acarete du Biscay's account of his Voyage to Peru. Biscay was a French explorer who worked
    for the King of Spain Carlos II, at least starting in 1658. Very little is known about his life other than 
  the journal displayed in this project. </p>
    <p>The aim of this collaberation was to participate in cultural exchange, while seeking to overcome
      a common goal or obstacle. Both schools brought different sets of skills to the project. One of
      the most difficult obstacles was the language barrier. Though we used a basis of English, for both 
      communication and the code itself, it was still a challenge to communicate our specific needs and 
      wants. Much of the content we discussed wasn't directly translatable. However, with patience and
    and willingness to learn from mistakes, we showcased a wonderful fusion of our skills in this website.</p>

    </p> 
  </div>


<div lang="es">
<h1>
  Projecto de humanidades digitales</h1>
 <h2 class="subtitle"> Los escritos de Acarete du Buscay  </h2> 
<h3 class="subtitle2">  ¡Bienvenidos!  </h3>
<p>Este proyecto de humanidades digitales de computación mínima muestra los frutos de un cruce entre la tecnología y las humanidades. En esta edición parcial, esperamos crear un espacio inclusivo para quienes deseen leer una transcripción de un relato poscolonial de un viaje por Perú. En este texto y en el proyecto en general, intentamos codificar un sitio web que fuera fácil de usar y transcribir una revista con precisión, sin dejar de notar los elementos problemáticos que contiene.</p>
<p> Este es un proyecto en colaboración con estudinates de la universidad de Maryland en College Park y la Universidad del Salvador en Buenos Aires. Aquí trabajamos para crear una página web para digitalizar una edición del viaje al Perú del explorador Acarete du Biscay. Biscay fue un explorador francés que trabajó para Carlos II, al menos a partir de 1658. Se sabe muy poco de su vida aparte del diario que se muestra en este proyecto.</p>
<p> Nuestro objetivo en esta colaboración era participar de un intercambio cultual, al mismo tiempo que sobreponíamos distintos obstáculos o lograbamos diferentes objetivos. Las dos universidades brindaron elementos complemetarios para poder lograr este propósito. Uno de los obstáculos fue la barrera lingüística. A pesar de que consensuamos utilizar como base el inglés, encontramos algunos obstáculos a la hora de comunicar nuestros deseos y necesidades, ya que en muchas ocasiones el contenido de nuestras conversaciones no era de fácil traducción. Sin embargo, con paciencia y tiempo, logramos una buena combinación de nuestras herramientas en la página web.

</p>
</div>
</div>