<div>
<h1> About me - Isabella Baker </h1>

<img src="2021-10-08.png" width="200" alt="Photo of Isabella Baker" class="center"/>

<p> Hi! My name is Isabella Baker. I am a sophomore English major 
        at the University of Maryland, College Park. </p>
    <p> I am participating in this project as a way to explore the crossover of STEM fields like
    computer science and traditional humanitarian disciplines. To my (pleasant) 
surprise, I found that this project would also involve global cooperation. I currently
work with Victoria Gutierrez, an awesome junior at USAL. Though we use a basis of English to code and 
primarily to communicate, we enjoy learning about each other's languages and culture as we joyfully 
struggle through minimal computing together. By the end of this project, I believe we have grown in 
our coding abilities, and gained the necessary skills to newly appreciate the individuality of digital
humanities as a field of study.
 </p> 
   <p> <a href="Victoria">Victoria Gutierrez</a></p>
    <p> <strong><a href="/">Go back home/Volver al inicio</a></strong>
    </p>
    </div>
