<div>
<h1> Sobre mí - Victoria Gutierrez </h1>
<img src="Bariloche 2021.jpg" width="300" alt="Foto de Victoria Gutierrez" class="center"/>

<p>
    Mi nombre es Victoria Gutiérrez, estoy en el tercer año de la carrera de Letras en la Universidad del Salvador en Buenos Aires, Argentina. </p>
  <p>  
    Actualmente estoy realizando un curso junto con Isabella Baker en donde nos educaremos sobre lo esencial en las humanidades digitales y en como llevar adelante un proyecto del mismo. Además, conoceremos un poco sobre la historia de esta área como también la influencia y la importancia que se le ha otorgado en distintos lugares del mundo a través de los años.
  
</p>

<p><a href="isabella">Isabella Baker</a> </p>
<p> <strong><a href="/">Go back home/Volver al inicio</a></strong></p>
</div>
   

  



