/* Add your styles below! */
h1 {text-align: center;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.subtitle {text-align: center;}


.subtitle2 {text-align: center;}






#editionpics {text-align: center;}

tei-fw[type=catch]{display: block;text-align: end;}

tei-pb{display:block; border-bottom: 1px solid black}


tei-p{text-indent: 2em}


#titulo {font-style:italic;}

#editionlink {display: block;}



